/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --primary-color: rgb(50, 171, 107);
  --secondary-color: rgba(93,212,148,83);
  --primary-font: 'Noto Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f2f2f2;
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--primary-font);
  font-size: 2.4em;
}

/*  Globales  */
.content {
  width: 98%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.btn {
  background-color: var(--secondary-color);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--primary-font);
  text-decoration: none;
  padding: 10px 40px;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  transition: all .4s ease;
}

.btn:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

/*  Header  */
div.content-header {
  padding-top: 25vh;
  text-align: center;
}

div.content-header h1 {
  border-radius: 5px;
  color: rgb(53, 53, 53);
  margin: 0 25px;
  margin-bottom: 40px;
  background-color: white;
  font-size: 1.6em;
}

div.content-header h1 span {
  color: var(--secondary-color);
}

div.content-header p {
  font-size: 1.2em;
}

div.content-header p span:first-child {
  border-bottom: 2px solid var(--secondary-color);
}

div.content-header p span:last-child {
  font-weight: bold;
}

div.content-header .card {
  background-color: #ffffff;
  margin: 0 20px;
  padding: 1px 5px 20px 5px;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  div.content-header {
    padding-top: 200px;
    padding-right: 40px;
    text-align: right;
  }
  div.content-header h1 {
    letter-spacing: 4px;
    background-color: transparent;
    font-size: 3em;
    font-weight: 700;
  }
  div.content-header p {
    padding: 5px;
    background-color: #ffffff;
  }
  div.content-header .card {
    float: right;
    background-color: transparent;
  }
}

@media only screen and (max-width: 320px) and (orientation: landscape) {
  div.content-header p {
    font-size: 2em;
  }

  div.content-header p span {
    background-color: var(--secondary-color);
  }
}

/*  Hero  */

div.hero {
  background-image: url(../img/hero-min.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  div.hero {
    background-image: url(../img/hero-max.jpg);
    background-position: top center;
    background-size: cover;
  }
}

/*  Navegacion  */
.main-nav {
  width: 100%;
  display: none;
}

.main-nav a {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  color: rgb(53, 53, 53);
  /*color: rgb(33, 33, 33);*/
  display: block;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
}

/*
.main-nav a:first-child {
  border-bottom: 2px solid var(--secondary-color);
}*/


@media only screen and (min-width: 768px) {
  .main-nav {
    text-align: right;
    padding-right: 25px;
    display: block;
    padding-bottom: 10px;
    backdrop-filter: blur(2.5px);
  }

  .main-nav::before {
    content: "";
    position: absolute;
    right: 0;
    top: 49px;
    z-index: -1;
    border: 1.5px solid #b5b5b5;
    width: 100%;
  }

  .main-nav a {
    padding: 10px 10px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }


  .main-nav a::before {
    content: '';
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    height: 2.5px;
    overflow: hidden;
    background-color: var(--secondary-color);
    transition: all 0.4s ease;
    transform: scaleX(0);
  }

  .main-nav a:hover::before {
    transform: scaleX(1.3);
  }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

